# External dependencies
libs/*

# Obj mesh files
meshFiles/*

# Build folder
build/*
build*/
debug_build/*
release_build/*

# Clangd cache
.cache/*
.clangd

# Clangd ignore file
.ignore

# IMGUI init file
imgui.ini

# Compiled shaders
shaders/compiled/*

compile_commands.json
